:root {
  font-size: 62.5%; /* 1 rem = 10px, 62.5% of 16px */
}

* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-color: #06273a;
}

.header {
  /* display: flex;
  flex-direction: row; */
}

.logo-contact__container {
  display: flex;
}

.contact {
  width: 25%;
  margin: 4.2rem -2rem 0 70%;
}

.logo {
  font-family: "Rozha One", sarif;
}

.navbar {
  width: 100%;
}

.contact-button {
  color: black;
  background-color: #ffeee0;
  width: 125px;
  height: 45px;
  font-weight: 100;
}

.contact-button:hover {
  cursor: pointer;
}

.navlist {
  display: flex;
  background-color: #fffef8;
}

.navlist-item {
  font-size: small;
  background-color: #fffef8;
  color: #06273a;
  padding: 1rem 3rem;
  flex-direction: row;
  list-style-type: none;
}

.contact-items {
  display: flex;
  float: right;
}
.main-blurb {
  display: flex;
  column-width: 50%;
}

.main-blurb__photo {
  /* The image used */
  background-image: url("parallax_1.jpg");

  /* Set a specific height */
  height: 1040px;
  width: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-blurb__text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  padding: 2rem;
  text-align: center;
}

.main-blurb__text {
  padding: 2rem;
}

.main-blurb__text h1 {
  line-height: 12rem;
  font-size: 8rem;
}

.main-blurb__text h3 {
  font-size: large;
}

.main-blurb__text p {
  line-height: 3rem;
  font-size: medium;
  padding: 6rem 4rem;
}
